*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
}
body{
background-color: black;
}
.navbar{
  display: flex;
 align-items: center;
 justify-content: center;
 top: -1rem;
 position:relative;
}
.navhead{
  color: white;
  font-size: 6rem;
  font-family: 'DM Serif Display', serif;
}
.logo{
  height: 12rem;
  width: 10rem;
}
.search{
 display: flex;
 justify-content: center;
 margin: 3rem 0 2rem 0;
}
.search:hover{
  transform: scale(1.1);
}
.search input{
  width: 32rem;
  height: 2.2rem;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
 border-bottom-left-radius: 2rem;
 border-top-left-radius: 2rem;
 border: 2px solid #30a5a7;
}
.search button{
  display: flex;
  background-color:#30a5a7;
  width: 6rem;
  height: 2.2rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 2rem;
 border-top-right-radius: 2rem;
  transition: none;
  align-items: center;
}
.profile{
  display: flex;
justify-content: center;
}
.card{
  margin: 2rem 0 2rem 0;
  height: 23rem;
  width: 18rem;
  background-color:#30a5a7 ;
  
}
.card .image{
  height: 10rem;
  width: 15rem;
}

