*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
}
body{
background-color: black;
place-items: start;
}
.navbar{
  display: flex;
  align-items: center;
 justify-content: center;
 top: -1rem;

}
.navhead{
  color: white;
  font-size: 6rem;
  font-family: 'DM Serif Display', serif;
}
.logo{
  height: 12rem;
  width: 10rem;
}
.search{
 display: flex;
 justify-content: center;
 margin: 3rem 0 2rem 0;
}
.search:hover{
  transform: scale(1.1);
}
.search input{
  width: 32rem;
  height: 2.2rem;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
 border-bottom-left-radius: 2rem;
 border-top-left-radius: 2rem;
 border: 2px solid #30a5a7;
}
.search button{
  display: flex;
  background-color:#30a5a7;
  width: 6rem;
  height: 2.2rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 2rem;
 border-top-right-radius: 2rem;
  transition: none;
  align-items: center;
}
.profile{
  display: flex;
justify-content: center;
}
.card{
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
  height: 23rem;
  width: 18rem;
  background-color: #30a5a7 ;
  border-radius: 2rem;
}
.card .image{
  height: 8rem;
  width: 18rem;
  margin-bottom: 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.card p{
  margin: 0.4rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  font-family: 'Agbalumo';
}
.user {
  font-size: 2rem;
  font-family: 'Lilita One', sans-serif;
  color: black;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}
.cards p span{
color: black;
font-family: 'Agbalumo', cursive;
}
.view{
 display: inline;
  background-color: black;
  color: white;
  width: 6rem;
  text-align: center;
  padding: 0.3rem;
  font-family: 'Lilita One', sans-serif;
  border-radius: 1.2rem;
  align-self: center;
}
.loader{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load{
  height: 12rem;
  width: 12rem;
  animation: loader 3s linear 0s infinite ;
  margin: 1rem;
}
.loadh2{
  font-size: 3rem;
  color: white;
}
@keyframes loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.CardProfile{
  display: flex;
}
.active{
  color: blue;
}